.sidebar {
  font-size: 14px;
  padding: 0;
  position: fixed;
  right: 0;
  top: 90px;
  width: 200px;

  .sidebar-nav {
    padding-left: 0;
  }
}

.sidebar .toc-entry {
  list-style-type: none;
}

.sidebar .toc-entry .active {
  color: $blue;
  text-decoration: underline;
}
