.toc-entry a {
  color: $gray;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.section {
  // add padding to allow navigation to work correctly
  h2 {
    padding-top: 70px;
  }
}

.footer a {
  color: $gray;
}
