.highlight {
  background: $light;
  padding: 20px 20px 10px 30px;
}

.section {
  margin-bottom: 70px;
}

.hero-section {
  margin-top: 90px;

  .text-area {
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 820px;
  }
}

.icon {
  height: 30px;
  width: 30px;
}

.github-buttons {
  margin-bottom: 48px;
}
