.icon {
  height: 30px;
  width: 30px;
}

.sidebar {
  font-size: 14px;
  padding: 0;
  position: fixed;
  right: 50px;
  top: 90px;
  width: 200px;

  .sidebar-nav {
    padding-left: 0;
  }
}

.sidebar .toc-entry {
  list-style-type: none;

  a {
    color: $gray;
  }

  a:hover {
    color: $blue;
    text-decoration: none;
  }
}

.sidebar .toc-entry .active {
  color: $blue;
  text-decoration: underline;
}
