.highlight {
  background: $light;
  padding: 20px 20px 10px 30px;
}

.sidebar {
  font-size: 14px;
  padding: 0;
  position: fixed;
  right: 50px;
  top: 90px;
  width: 200px;

  .section-nav {
    padding-left: 0;
  }
}

.sidebar .toc-entry {
  list-style-type: none;

  a { color: $gray; }

  a:hover {
    color: $blue;
    text-decoration: none;
  }
}

.sidebar .toc-entry .active {
  color: $blue;
  text-decoration: underline;
}

.section {
  h2,
  h3 {
    padding-top: 70px;
  }
}

.hero-section {
  margin-top: 90px;
}

.navbar .icon {
  height: 30px;
  width: 30px;
}
